body{
	margin : 0px;
	padding : 0px;
}
canvas{
	margin-left : 2px;
	border : 2px solid black;
}
h1 {
    display: block;
    font-family : georgia;
    font-weight: bold;
    background-color : #E18A81;
    padding : 0px;
    padding-top: 10;
    margin: 0px;
    width : 100%;
    text-align: center;
    color: #523838;
    top : 0px;
    left : 0px;
    height: 50px;
}
#nav-bar{
	background-color: #E18A81;
	padding-bottom : 11px;
}

/*styling the drop down button*/
.dropdown_button{
	background-color: #523838;
	color: #ffffffff;
	padding: 10px;
	font-size: 16px;
	border: 2px;
	min-width: 155px;
	display: inline;
	margin-left: 120px;
	margin-top : 10px;
	font-family: monospace;
}
.dropdown_button:hover{
	background-color: #e86456;
}

/*styling the algorithm dropdown */
.dropdown_algorithm{
	position: relative;
}

.dropdown_algorithm_content{
	display: none;
 	position: absolute;
	background-color: #f1f1f1;
	min-width: 155px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 0px 120px;
}

.dropdown_algorithm_content input{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}

.dropdown_algorithm_content label{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}


.dropdown_algorithm:hover .dropdown_algorithm_content{
	display: block;
}
.dropdown_algorithm_content button: hover{
	background-color: #ddd;
}

/*styling the maze and pattern dropdown*/
.dropdown_maze{
	position: relative;
}

.dropdown_maze_content{
	display: none;
 	position: absolute;
	background-color: #f1f1f1;
	min-width: 155px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin :0px 678px;
}

.dropdown_maze_content button{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	min-width: 155px;
}

.dropdown_maze:hover .dropdown_maze_content{
	display: block;
}
.dropdown_maze_content button: hover{
	background-color: #ddd;
}

/*styling the blocks dropdown*/
.dropdown_block{
	position: relative;
}

.dropdown_block_content{
	display: none;
 	position: absolute;
	background-color: #f1f1f1;
	min-width: 155px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 0px 955px;
}

.dropdown_block_content input{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}
.dropdown_block_content label{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}


.dropdown_block:hover .dropdown_block_content{
	display: block;
}
.dropdown_block_content button: hover{
	background-color: #ddd;
}

/*styling the heuristic block*/
.dropdown_heuristic{
	position: relative;
}

.dropdown_heuristic_content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 155px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 0px 400px;
}

.dropdown_heuristic_content input{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}
.dropdown_heuristic_content label{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}


.dropdown_heuristic:hover .dropdown_heuristic_content{
	display: block;
}
.dropdown_heuristic_content button: hover{
	background-color: #ddd;
}

#nav-bar2{
	background-color: #E18A81;
	padding-bottom : 11px;
    border-top : 2px solid white;
    display : block;
    text-align : top;
}

#startButton{
	background-color: #399839;
	color: #ffffffff;
	padding: 10px;
	font-size: 16px;
	border: 2px;
	min-width: 70px;
	border : 2px white solid;
	border-radius: 	20px;
	margin-left: 10px;
	font-family: monospace;
}

#block{
	margin-left : 50px;
	background-color : #523838;
}
#diagonal > label{
	background-color : #523838;
	color : white;
	font-family : monospace;
}

#diagonal > input[type=checkbox]{
	margin-left : 30px;
}

#clean{
	background-color: #52383869;
	color: #ffffffff;
	padding: 10px;
	border: 2px;
	min-width: 120px;
	display: inline;
	margin-left: 120px;
	margin-top : 10px;
	font-family: monospace; 
}

footer{
	text-align : center;
/* 	border: 2px black solid; */
    width : 250px;
    border-radius: 30px;
    front-family : monospace;
    margin-left : 500px;
    background-color : #b4a9a896;
    color : black;
    font-size: 15px;
}
#table{
	display: inline;
	margin-left: 110px;
}
th, td{
	border : 2px white solid;
	text-align : center;
}