body{
	margin : 0px;
	padding : 5px;
}
canvas{
	border : 2px solid black;
}
/*styling the drop down button*/
.dropdown_button{
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	display: inline;
}

/*styling the algorithm dropdown */

.dropdown_algorithm{
	position: relative;
}

.dropdown_algorithm_content{
	display: none;
 	position: absolute;
	background-color: #f1f1f1;
	min-width: 155px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 0px 3px;
}

.dropdown_algorithm_content input{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}

.dropdown_algorithm_content label{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}


.dropdown_algorithm:hover .dropdown_algorithm_content{
	display: block;
}
.dropdown_algorithm_content button: hover{
	background-color: #ddd;
}

.dropdown_algorithm:hover .dropdown_button2{
	background-color: #3e8e41;
}

/*styling the maze and pattern dropdown*/
.dropdown_maze{
	position: relative;
}

.dropdown_maze_content{
	display: none;
 	position: absolute;
	background-color: #f1f1f1;
	min-width: 155px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin :0px 267px;
}

.dropdown_maze_content button{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	min-width: 155px;
}

.dropdown_maze:hover .dropdown_maze_content{
	display: block;
}
.dropdown_maze_content button: hover{
	background-color: #ddd;
}

.dropdown_maze:hover .dropdown_button{
	background-color: #3e8e41;
}

/*styling the blocks dropdown*/
.dropdown_block{
	position: relative;
}

.dropdown_block_content{
	display: none;
 	position: absolute;
	background-color: #f1f1f1;
	min-width: 155px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 0px 420px;
}

.dropdown_block_content input{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}
.dropdown_block_content label{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}


.dropdown_block:hover .dropdown_block_content{
	display: block;
}
.dropdown_block_content button: hover{
	background-color: #ddd;
}

.dropdown_block:hover .dropdown_button3{
	background-color: #3e8e41;
}

/*styling the heuristic block*/
.dropdown_heuristic{
	position: relative;
}

.dropdown_heuristic_content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 155px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 0px 142px;
}

.dropdown_heuristic_content input{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}
.dropdown_heuristic_content label{
	color: black;
	padding: 0px 0px;
	text-decoration: none;
	display: block;
	min-width: auto;
	display: inline;
}


.dropdown_heuristic:hover .dropdown_heuristic_content{
	display: block;
}
.dropdown_heuristic_content button: hover{
	background-color: #ddd;
}

.dropdown_heuristic:hover .dropdown_button4{
	background-color: #3e8e41;
}